Lab4/ClientuAlaBlanaCuConsolaVietzii/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="F2C">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="F" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="F2CResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="F2CResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="C2F">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="C2FResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="C2FResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListAll">
        <s:complexType />
      </s:element>
      <s:element name="ListAllResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListAllResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DateTimeDisplay">
        <s:complexType />
      </s:element>
      <s:element name="DateTimeDisplayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DateTimeDisplayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EuroToLei">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="E" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EuroToLeiResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EuroToLeiResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeiToEuro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="L" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LeiToEuroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LeiToEuroResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="F2CSoapIn">
    <wsdl:part name="parameters" element="tns:F2C" />
  </wsdl:message>
  <wsdl:message name="F2CSoapOut">
    <wsdl:part name="parameters" element="tns:F2CResponse" />
  </wsdl:message>
  <wsdl:message name="C2FSoapIn">
    <wsdl:part name="parameters" element="tns:C2F" />
  </wsdl:message>
  <wsdl:message name="C2FSoapOut">
    <wsdl:part name="parameters" element="tns:C2FResponse" />
  </wsdl:message>
  <wsdl:message name="ListAllSoapIn">
    <wsdl:part name="parameters" element="tns:ListAll" />
  </wsdl:message>
  <wsdl:message name="ListAllSoapOut">
    <wsdl:part name="parameters" element="tns:ListAllResponse" />
  </wsdl:message>
  <wsdl:message name="DateTimeDisplaySoapIn">
    <wsdl:part name="parameters" element="tns:DateTimeDisplay" />
  </wsdl:message>
  <wsdl:message name="DateTimeDisplaySoapOut">
    <wsdl:part name="parameters" element="tns:DateTimeDisplayResponse" />
  </wsdl:message>
  <wsdl:message name="EuroToLeiSoapIn">
    <wsdl:part name="parameters" element="tns:EuroToLei" />
  </wsdl:message>
  <wsdl:message name="EuroToLeiSoapOut">
    <wsdl:part name="parameters" element="tns:EuroToLeiResponse" />
  </wsdl:message>
  <wsdl:message name="LeiToEuroSoapIn">
    <wsdl:part name="parameters" element="tns:LeiToEuro" />
  </wsdl:message>
  <wsdl:message name="LeiToEuroSoapOut">
    <wsdl:part name="parameters" element="tns:LeiToEuroResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="F2C">
      <wsdl:input message="tns:F2CSoapIn" />
      <wsdl:output message="tns:F2CSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="C2F">
      <wsdl:input message="tns:C2FSoapIn" />
      <wsdl:output message="tns:C2FSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <wsdl:input message="tns:ListAllSoapIn" />
      <wsdl:output message="tns:ListAllSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DateTimeDisplay">
      <wsdl:input message="tns:DateTimeDisplaySoapIn" />
      <wsdl:output message="tns:DateTimeDisplaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EuroToLei">
      <wsdl:input message="tns:EuroToLeiSoapIn" />
      <wsdl:output message="tns:EuroToLeiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LeiToEuro">
      <wsdl:input message="tns:LeiToEuroSoapIn" />
      <wsdl:output message="tns:LeiToEuroSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F2C">
      <soap:operation soapAction="http://tempuri.org/F2C" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C2F">
      <soap:operation soapAction="http://tempuri.org/C2F" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap:operation soapAction="http://tempuri.org/ListAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateTimeDisplay">
      <soap:operation soapAction="http://tempuri.org/DateTimeDisplay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EuroToLei">
      <soap:operation soapAction="http://tempuri.org/EuroToLei" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeiToEuro">
      <soap:operation soapAction="http://tempuri.org/LeiToEuro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F2C">
      <soap12:operation soapAction="http://tempuri.org/F2C" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="C2F">
      <soap12:operation soapAction="http://tempuri.org/C2F" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAll">
      <soap12:operation soapAction="http://tempuri.org/ListAll" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateTimeDisplay">
      <soap12:operation soapAction="http://tempuri.org/DateTimeDisplay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EuroToLei">
      <soap12:operation soapAction="http://tempuri.org/EuroToLei" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeiToEuro">
      <soap12:operation soapAction="http://tempuri.org/LeiToEuro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44348/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44348/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>